/* ----------------------------------------------------------------
	CSS PARA O CURSO VACINAS COVID-19:

	Este css sobrescreve o css original estrutural do tema.
	Configurações novas de CSS devem também ser inseridas aqui.
-----------------------------------------------------------------*/

/*--------------------------------------------------------------
# Variáveis
--------------------------------------------------------------*/

:root {

    /* Cores */
	--preto: #333; /*Preto*/
	--azul-escuro: #301b5e; /*Azul Escuro*/
	--azul-claro: #0193DA; /*Azul Claro*/
	--cinza-claro: #F9F9F9; /*Cinza Claro*/
	--cinza-medio: #888; /*Cinza Médio*/

    --marrom: #b2550f; /*Marrom*/
    --marrom-pressed: #99471c; /*Marrom  Pressed*/

    --laranja: #ff8831; /*Laranja*/
    --laranja-over: #febf00; /*Mostarda*/
    --laranja-pressed: #b2550f; /*Bronze*/

	/* Cores com transparência*/
	--preto-alpha: rgba(0, 0, 0, 0.2); /*Preto com transparência*/
	--azul-escuro-alpha: rgba(48, 27, 87, 0.3); /*Azul Escuro com transparência*/
	--azul-claro-alpha: rgba(1,147,218,0.4); /*Azul Claro com transparência*/

    --laranja-alpha: rgba(255, 136, 49, 0.2); /*Laranja*/
	--marrom-pressed-alpha: rgba(153, 71, 28, 0.8);

    /* Fundos */
    --bg-header: url(../img/bg-header.jpg); 
    --bg-topo-mobile: url(../img/bg-topo-mobile2.png); 
    --bg-topo: url(../img/bg-topo.png);
	/* --bg-section: #F9F9F9; */
	--bg-section: #F1F1F1; 
	--bg-section2: url(../img/bg2.png);
	
	/* Família tipográfica */
	--titulos: 'Poppins', sans-serif;
	--subtitulos: 'PT Serif', serif;
	--texto-corrido: 'Lato', sans-serif; 

	/* Hierarquia dos títulos */

	--h1-mobile: 1.88rem; /*34px*/
	--h2-mobile: 1.66rem; /*30x*/
	--h3-mobile: 1.55rem; /*28px*/
	--h4-mobile: 1.33rem; /*24px*/
	--h5-mobile: 1.11rem;  /*20px*/
	--h6-mobile: 1rem;  /*18px*/

	--h1-desktop: 3rem; /*60px*/
	--h2-desktop: 2.25rem; /*45px*/
	--h3-desktop: 1.75rem; /*35px*/
	--h4-desktop: 1.5rem; /*30px*/
	--h5-desktop: 1.25rem; /*25px*/
	--h6-desktop: 1rem;  /*20px*/
}

/*--------------------------------------------------------------
# Fim das Variáveis
--------------------------------------------------------------*/

/* Cores
------------------------*/

/*Para texto e ícones*/
.azul-escuro {color: var(--azul-escuro) !important;}
.azul-claro {color: var(--azul-claro) !important;}
.cinza-claro {color: var(--cinza-claro) !important;}
.cinza-medio {color: var(--cinza-medio) !important;}

/*Para fundos*/
.bg-azul-escuro {background-color: var(--azul-escuro) !important;}
.bg-azul-claro {background-color: var(--azul-claro) !important;}
.bg-cinza-claro {background-color: var(--cinza-claro) !important;}
.bg-cinza-medio {background-color: var(--cinza-claro) !important;}
.bg-section {background: var(--bg-section) !important;}


/* Tipografia
------------------------*/

body {
	line-height: 1.75;
	color: var(--preto);
	font-family: var(--texto-corrido);
	font-size:18px;
	font-weight: 400 !important;
}

a {
	text-decoration: none !important;
	color: var(--azul-escuro);
}

a:hover { color: var(--azul-claro); }

h1, h2, h3, h4, h5, h6 {
	color: var(--azul-escuro);
	font-weight: 600;
	line-height: 1.25;
	margin: 0 0 30px 0;
	font-family: var(--titulos);
}

h1 {font-size: var(--h1-mobile);}

h2 {font-size: var(--h2-mobile);}

h3 {font-size: var(--h3-mobile);}

h4 {font-size: var(--h4-mobile);}

h5 {font-size: var(--h5-mobile);}

h6 {font-size: var(--h6-mobile);}


h4, h5, h6 {
	font-weight: 700;
	margin-top:60px;
	margin-bottom: 20px; 
}

.lead {
	font-size: 1.5rem !important;
	font-weight: 400 !important;
	color:var(--cinza-medio);
	letter-spacing: -.03125rem;
	margin: 0.5rem 0;
}

/* Desktops*/
@media (min-width: 992px) {

	body {font-size:20px;}

	h1 {font-size: var(--h1-desktop);}

	h2 {font-size:  var(--h2-desktop);}

	h3 {font-size:  var(--h3-desktop);}

	h4 {font-size:  var(--h4-desktop);}

	h5 {font-size: var(--h5-desktop);}

	h6 {font-size: var(--h6-desktop);}
}


#content p {line-height: 1.75;}

.list-group-item { font-weight: 400; }

.source {font-size: 0.8em;}

/* Fim da Tipografia
------------------------*/

/* Topo
------------------------*/

#header {
	position: relative;
	z-index: 4;
}

/*Tamanho do logo para mobile*/
#logo img {height: 40px;}

/* Retirar a borda lateral do topo */
.full-header .primary-menu .menu-container,
.transparent-header.full-header.dark .primary-menu .menu-container {border-right: none;}

/* Menu */
#header .menu-link {font-weight:500;}

/* Submenu */
.menu-curso .sub-menu-container .menu-item > .menu-link {
	text-transform:none;
	padding: 11px 35px 11px 5px;
}

.menu-curso .sub-menu-container .menu-item:hover > .menu-link {color: var(--azul-escuro);}

.dark .menu-curso .menu-item:hover > .menu-link, 
.dark .menu-curso .menu-item.current > .menu-link {color: #02c8da;}

.dark .primary-menu:not(.not-dark) .sub-menu-container .menu-item:hover > .menu-link {
    background-color: rgba(0,0,0,0.1);
    color: var(--azul-claro);
}

/* Configura a Label dentro do submenu de módulos */
.menu-curso .badge {
	background-color: var(--azul-claro);
	color:#fff;
	display:block;
	line-height: 1.25;
	padding:15px;
	text-align: left;
	white-space: normal;
	margin-top:15px;
}

/*Breadcrumb*/
.breadcrumb.header {
    position: absolute !important;
    width: 100% !important;
    top: 121% !important;
    left: auto !important;
    right: 0 !important;
    margin: 0 !important;
	background-color: var(--preto-alpha) !important;
	color:#fff !important;
    padding: 3px 60px 0 0px !important;
    font-size: 0.8rem;
    transform: translateY(-50%);
	height: 30px;
}

#header:not(.sticky-header) .breadcrumb.header  {
	transition: opacity 0.5s ease-out;
	opacity:0;
	background-color: #fff !important;
	position: absolute !important;
	top: 129% !important;
	z-index: 1;
	border-radius: 0;
}

#header.sticky-header .breadcrumb.header {
	top: 129% !important;
	width: 100% !important;
	background-color: #fff !important;
	border-radius: 0;
	border-bottom: 1px solid var(--cinza-claro);
	color: var(--azul-escuro) !important;
	transition: opacity 1s ease-out;
	opacity:1;
}

#header.sticky-header .breadcrumb.header a {color:var(--azul-escuro) !important;}

/* Desktops*/
@media (min-width: 992px) {

	/*Tamanho do logo*/
	#logo img {height: 60px;}

	/*Tamanho do header*/

	.header-size-custom .header-wrap-clone {height: calc( 60px + 1px ) !important;}

	#header.header-size-custom + .include-header {margin-top: calc( -60px - 2px ) !important;}

	.header-size-custom.sticky-header-shrink #header-wrap #logo img {height: 50px;}

	.header-size-custom .menu-container > .menu-item > .menu-link {
		padding-top: 24px; /* (70px - 22px)/2 */
		padding-bottom: 24px; /* (70px - 22px)/2 */
	}

	.header-size-custom.sticky-header-shrink .menu-container > .menu-item > .menu-link {
		padding-top: 24px; /* (70px - 22px)/2 */
		padding-bottom: 24px; /* (70px - 22px)/2 */
	}

	/*Ajuste da cor das bordas direita e inferior*/
	#header.transparent-header.full-header #header-wrap {
		border-bottom-color: var(--cinza-claro);
		padding-bottom: 10px;
	}

	#header.transparent-header.full-header #logo {border-right-color: var(--cinza-claro);}

	#header.transparent-header:not(.sticky-header).full-header #header-wrap {
		border-bottom-color: rgba(235,240,245, 0.2);
		padding-bottom: 10px;
	}

	#header.transparent-header:not(.sticky-header).full-header #logo {border-right-color: rgba(235,240,245, 0.2);}

	
	/*Menu de Navegação*/

	/*Ajuste na cor do link do menu, quando o header for transparente*/
	#header.transparent-header:not(.sticky-header) .menu-link {color: #fff;}

	/*Posição do menu*/
	.primary-menu {margin-right: 15px;}

	/*Submenu*/

	.menu-curso .menu-container > .menu-item:not(.mega-menu) .sub-menu-container {padding:0}

	.menu-curso .badge {margin:5px;}

	#header.transparent-header:not(.sticky-header) .menu-curso .sub-menu-container .menu-item > .menu-link {color: var(--preto);}

	#header.transparent-header:not(.sticky-header) .menu-curso .sub-menu-container .menu-item > .menu-link:hover {color: var(--azul-claro);}

	.menu-curso .sub-menu-container .menu-item:hover > .menu-link {background-color: var(--cinza-claro);}

	.menu-curso .sub-menu-container {border-top:2px solid var(--azul-escuro);}

	.menu-curso .sub-menu-container .menu-item > .menu-link {padding: 11px 25px 11px 20px;}

	.menu-curso .sub-menu-container {width: 240px;}

	.menu-curso .sub-menu-container .menu-link div > i.icon-angle-down {right:-10px;}

	/*Breadcrumb*/
	.breadcrumb.header {
		width: auto !important;
		top: 121% !important;
		background-color: var(--preto-alpha) !important;
		color:#fff !important;
	}

	#header:not(.sticky-header) .breadcrumb.header  {
		transition: opacity 0.5s ease-out;
		opacity:0;
		background-color: var(--preto-alpha) !important;!important;
		position: absolute !important;
		top: 121% !important;
		z-index: 1;
		border-radius: 0;
	}
	
	#header.sticky-header .breadcrumb.header {
		width:auto !important;
		top: 120% !important;
		display:block;
		background-color: var(--azul-escuro-alpha) !important;
		color: #fff !important;
		border-bottom: none;
	}
	
	#header.sticky-header .breadcrumb.header a {color:#fff !important;}
	
	#header.sticky-header .breadcrumb.header a:hover {color:var(--azul-escuro) !important;}

}

/* Fim do Topo 
------------------------*/

/* Título de Abertura
------------------------*/

.titulo {height:380px;}

.titulo.slider-parallax {
	background: rgba(0, 0, 0, 0) url('../img/slider/swiper/2.jpg') repeat scroll center center / cover; 
	margin-top: -102px;
}

.titulo .slider-caption.slider-caption-center {max-width: 950px;}

/* .titulo .slider-caption h1 {margin-top:3.5rem;} */

.titulo .slider-caption h2 {
	font-family: var(--titulos);
	font-size: var(--h2-desktop);
	font-weight: 600;
	letter-spacing: normal;
	line-height: 1.2;
	margin-bottom: 5px;
	text-transform: none;
}

.titulo .slider-caption.slider-caption-center {margin-top:7.4rem;}

.titulo .lead {
	font-family: var(--subtitulos) !important;
	font-style: italic !important;
	font-size: 1.15rem !important;
	font-weight: 400 !important;
}

.titulo h3, .titulo h4 {font-weight: 400;}

.titulo .slider-caption p {
	margin-top:10px;
	margin-bottom:20px;
}

/* Desktops*/
@media (min-width: 992px) {

	.titulo {height:400px;}
	

	.titulo.slider-parallax {
		background: rgba(0, 0, 0, 0) url('../img/slider/swiper/1.jpg') repeat scroll center center / cover; 
		margin-top: -102px;
	}

	/* .titulo .slider-caption.slider-caption-center {margin-top:9.4rem;} */

	.titulo .lead {
		font-size: var(--h3-desktop) !important;
	}

	/*Lista de Aulas (aparece somente no desktop) */

	.aulas ul {
		list-style:none;
	}
	
	.aulas .button {
		background-color: var(--azul-escuro);
		padding: 15px;
		margin: 0 2px;
		border-radius:5px 5px 0 0;
		height: 70px;
	}
	
	.aulas .button:hover {
		background-color: var(--azul-claro-alpha);
		transition:0.5s;
		transform: translate(0, -15px);
		height:74px;
	}
	
	.aulas .button.active {
		background:#fff;
		color:var(--preto);
		transform: translate(0, -15px);
		height:74px;
	}
	
	.aulas .button.active:hover {
		color:var(--preto);
		transform: translate(0, -15px);
	}
}

/* Fim do Título de Abertura
------------------------*/

/* Conteúdo
------------------------*/

.content-wrap {padding:20px 0;}

#content .container {
	padding-top:3rem;
	padding-bottom:3rem;
}
/* Fonte e Legenda das imagens */
.legenda, .fonte {
	font-size:0.9rem;
}

.legenda {
	font-weight:600;
	margin-bottom:0;
}

/*.content-wrap {padding: 2rem 0;} */

/* Heading Block (Títulos h2 e h3 + Lead)
------------------------*/

.heading-block {margin-bottom: 25px;}

.heading-block::after {
    border-top: 2px solid var(--azul-claro);
    margin:20px 0;
}

/* Antetítulo */
.heading-block .before-heading {
    font-size: var(--h4-desktop);
    font-family: var(--subtitulos);
    color: var(--azul-escuro);
}

/* Cores e Tamanhos dos Títulos Heading Block*/
.heading-block h1, 
.heading-block h2, 
.heading-block h3, 
.emphasis-title h1, 
.emphasis-title h2 {
	color: var(--azul-escuro);
	text-transform: none;
}

.heading-block h2 { font-size: var(--h2-mobile);}

.heading-block h3 { font-size: var(--h3-mobile);}


@media (min-width: 992px) {

	.heading-block h2 { font-size: var(--h2-desktop);}

	.heading-block h3 { font-size: var(--h3-desktop);}

}

/* Fim do Heading Block (Títulos h2 e h3 + Lead)
------------------------*/



/* Sessões
------------------------*/
.section {
	width:auto;
	padding:0;
	background:transparent;
}
.divider {margin: 2rem auto;}

pre {
	background-color:var(--bg-section);
	border: 1px dotted var(--preto);
	padding: 0 20px;
	margin: 1rem 0 2rem;
	font-size: 0.85rem;
}

pre code {white-space: pre-line;}

/* Botões
------------------------*/

/* Cor dos botões */
.bt-azul-escuro {background: var(--azul-escuro);}
.bt-azul-claro {background:var(--azul-claro);}

/* Botão Primário */

.button {
    background-color: var(--azul-escuro);
}

.button:hover {
    background-color:var(--azul-claro);
}

/* Botão Secundário */

.button.button-border {
    border: 2px solid var(--azul-escuro);
    background-color: transparent;
    color: var(--azul-escuro);
    background-color: transparent;
    font-weight: 700;
    text-shadow: none;
}

.button.button-border:not(.button-fill):hover {
    background-color: var(--azul-escuro);
    color: #FFF;
    border-color: transparent !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/* Rodapé (Barra de Logos)
------------------------*/

#footer {
    position: relative;
    background-color: var(--azul-escuro);
    /* border-top: 5px solid rgba(0,0,0,0.2); */
}

#footer h6 {
	color:#fff;
	font-weight: 500;
}