/* -------------------------------- 

Abas

-------------------------------- */

.abas .nav-tabs {
    border-bottom: 1px solid #e9ecef;
}

.abas .nav-link {
  text-decoration: none !important;
  padding:0.4rem;
}

.abas .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #fff;
    background-color: var(--azul-claro);
    border-color: #e9ecef #e9ecef #fff;
}

.abas .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #e9ecef #e9ecef #dee2e6;
}

.abas .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: var(--azul-claro);
}

.abas .tab-content {border-bottom:1px solid #e9ecef;}

@media (min-width: 992px) {
  .abas .nav-link {
    padding:0.5rem;
  }
}

/* Accordion
------------------------*/
.accordion > .accordion-itens {
	border:none;
}

.accordion > .accordion-itens > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
    cursor: pointer;
}

.accordion .card-header {
    padding: 0.8rem 1.25rem 0.8rem 0.5rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}


.accordion .card-header::after {
	/* font-family: 'FontAwesome'; */
	/* content: "\f068"; */
	font-family: "lined-icons";
	content: "\e99f";
	float: right;
	color:var(--azul-escuro);
}

.accordion .card-header.collapsed::after {
	content: "\e9bc";
	color:var(--azul-escuro);
}

.accordion .card-header .card-title {
	font-weight:600;
	color:var(--azul-escuro);
	text-decoration: none !important;
}

.accordion .carousel-control-next, 
.accordion .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
}

.accordion .saiba-mais a,
.accordion .atencao a,
.accordion .para-refletir a {
  display: inline;
  font-size: inherit;
  padding: 0;
}

.accordion .saiba-mais ul li,
.accordion .atencao ul li,
.accordion .para-refletir ul li {
  border-bottom: none;
}

.accordion .flip-card p {margin:0 0 20px;}

.accordion .flip-card .card-footer i {
  position: relative;
  font-size: inherit;
  top:0;
}

.accordion .flip-card ul li {border-bottom: none;}

.accordion .box-quote i, 
.accordion .box-quote .svg-inline--fa, 
.accordion .serie4 p i {
  position:relative;
  top:0;
}

/* -------------------------------- 

Accordion com Imagens

-------------------------------- */

.accordion-foto {list-style: none;}

.accordion-foto li {border-bottom: none;}

.accordion-foto a {
  padding:0;
  text-decoration:none !important;
}

.accordion-foto a:hover, 
.accordion-foto a:focus, 
.accordion-foto a:visited  {text-decoration: none;}

.accordion-foto a h5 {margin-top:1.5rem;}
.accordion-foto a:hover h5 {color:var(--azul-claro);}

/*Marco o primeiro*/
.accordion-foto .pic {
  position:relative;
  top:0;
  left:0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border:5px solid #fff;
}

/*Os demais ficam 'soltos' no layout, com position absolute*/
.accordion-foto .pic.pic-tras {
  position: absolute;
  margin:0 20px;
}

/*Digo qual vai ser a elevação de cada uma das imagens*/
.accordion-foto .pic:first-child {
  z-index: 3;
}

.accordion-foto .pic:nth-child(2) {
  z-index: 2;
}

.accordion-foto .pic:nth-child(3) {
  z-index: 1;
}

/*Faço a rotação das imagens no hover*/
.accordion-foto .pic-container:hover .pic:first-child{
  -webkit-transition: all 0.10s ease;
  transition: all 0.10s ease;
}

.accordion-foto .pic-container:hover .pic:nth-child(2) {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.accordion-foto .pic-container:hover .pic:nth-child(3) {
  -webkit-transform: rotate(18deg);
  transform: rotate(18deg);
  -webkit-transition: all 0.20s ease;
  transition: all 0.20s ease;
}

/*Configuro a seta para baixo (fa-chevron-down)*/
.accordion-foto.accordion i, 
  .accordion-foto.accordion .svg-inline--fa {
    position: relative;
    top:0;
    left:10px;
    font-size:1rem;
    animation: pulse2 1.5s infinite;
    transition: 0.25s;
  }
  
  .accordion-foto.accordion .fa-chevron-down::before {content: "\f078" !important;}

  @keyframes pulse2 {
    0%   {transform: translateY(0); }
      50%  {transform: translateY(-0.5rem);}
      100% {transform: translateY(0); }
}

/*Configuro o conteúdo que será exibido neste accordion*/
.accordion-foto .accordion-foto-conteudo  {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  box-shadow: 3px 1px 10px -2px #aaa;
  padding: 20px;
  margin-top: 20px;
  max-width: 100%;
}
/* -------------------------------- 

Cards de Comparação e Diferenciação

-------------------------------- */


.card-comparacao .item,
.card-diferenciacao .item  {
	padding: 30px 30px 20px;
	background: #fff;
	box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin-bottom: 30px;
	font-size: 1rem;
  }
  
.card-comparacao .fa-times,
.card-diferenciacao .fa-times {font-size: 6rem;}

/* -------------------------------- 

Destaques 

-------------------------------- */

/*Cards de texto (com título, sem título e lado a lado)*/
.card,
.card-simples {
	background: #fff;
	border: 1px solid var(--cinza-medio);
  border-radius: 6px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-simples {
	margin-bottom: 30px;
	padding: 30px;
}

.card-simples.destaque-texto {font-weight: 700;}

.card-simples.destaque-texto h3,
.card-simples.destaque-texto h4  {
	font-family: var(--titulos);
	font-weight: 700;
}

/*Olho de texto*/

.olho-de-texto {
	color:var(--azul-escuro);
	font-size:1.25rem;
	font-weight: 700;
	/* padding:30px; */
  text-align:center;
  font-style: italic;
}

@media (min-width:992px) {
  .olho-de-texto {padding:30px;}
}

/*Boxes (Atenção, Saiba Mais, Material Complementar etc)*/

.boxes.media a {color:var(--cinza-claro) !important;}

.boxes.media {border-radius:6px;}

.boxes.media img.icone {width:110px;}

.boxes.media .media-body {border-radius:0 0 6px 6px !important;}

.boxes.media .media-body p:last-child {margin-bottom:0 !important;}

@media (min-width: 992px) {
  .boxes.media .media-body {border-radius:0 6px 6px 0 !important;}
}

/*Destaque Parallax*/
.page-title-parallax {padding:10px 0;}

.page-title-parallax a {color:var(--azul-clarissimo);}

/*Fundos de destaques*/
.destaque a {
	color:#fff;
	text-decoration: underline;
}
.destaque.bg-azul-escuro a {color:var(--azul-clarissimo);}

.destaque.bg-cinza-medio a {color:var(--azul-claro);}

/*----------------------------- 

Citações

 -----------------------------*/

blockquote {border-left:5px solid var(--azul-escuro)}

/*----------------------------- 

Flipcards 2.0

 -----------------------------*/

 .flip-card2 {
	position: relative;
	background-color: transparent;
	width: 100%;
	height: 500px;
	border: none;
	-webkit-perspective: 1000px;
	perspective: 1000px;
  }
  
  .flip-card-inner2 {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: -webkit-transform 0.8s;
	transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
  }

  /* Desabilito o Hover (assim só vira se clicar no botão)
  .flip-card2:hover .flip-card-inner2 {
   -webkit-transform:rotateY(180deg);
   transform:rotateY(180deg)
  } */

  /*Esconde o input*/
  .flip-card2 .more {
	display: none;
  }
  
  /*Ao marcar o input, flipa o card*/
  .flip-card2 .more:checked~.flip-card-inner2 {
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
  }

/*Acerta a área de texto*/
  .flip-card2 .card-text {
	line-height:1.5 !important;
	text-align: left;
	margin-bottom: 10px;
	/* height: 190px; */
	padding: 1rem;
}

.flip-card2 .card-text ul li ul {list-style: circle;}

/*Configurações gerais da frente e do verso*/
.flip-card-front2,
.flip-card-back2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 1.25rem;
}

/*Configuração da frente*/
.flip-card-front2 {
	background-color: var(--laranja);
	border-radius: 10px;
	-webkit-box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  }

/*Aqui colocamos um efeito fundo degradê para o card da frente*/
.flip-card-front2::before { 
	border-radius: 10px;
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.6) 100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front2 .card-body {padding:1rem;}

.flip-card-front2 .card-footer,
.flip-card-back2 .card-footer {
	padding-top:0.5rem;
	padding-bottom:0.5rem;
}

.flip-card-front2 .card-footer .btn,
.flip-card-back2 .card-footer .btn {width:60%;}

.flip-card-front2 .card-footer .btn:hover {
	background-color: rgba(255,255,255, 0.5);
}

.flip-card-front2 .card-footer label {margin-bottom: 0;}

/*Tamanho do ícone do botão da frente*/
.flip-card-front2 .card-footer .btn svg {
	fill: #fff;
	width: 2rem;
  }

.flip-card-front2.item1 .card-footer .btn:hover svg {fill: var(--azul-escuro) !important;}

/*Fundos para flipcard*/
.flip-card2 .fundo1 {
background-image: url(../img/curso1/bg-flipcard.jpg);
}

/*Configuração do verso*/
.flip-card-back2 {
	background-color: #fff;
	border-radius: 10px;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	-webkit-box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3)
  }

.flip-card-back2 .card-body {padding-top:0;}

.flip-card-back2 .card-footer {
	background-color:#fff;
	border-top:transparent;
}

.flip-card-back2 .card-footer .btn {
	border-color:var(--azul-escuro);
	border-width: 2px;
	color:var(--azul-escuro);
}

/*Habilita o Scroll*/
.flip-card2 .flip-card-front2 .card-text {overflow-y:hidden;}

.flip-card2 .flip-card-back2 .card-text  {
	text-align: left;
	margin-bottom: 10px;
	overflow-y: scroll;
	padding: 1rem;
}
  
/* Customização do scroll: Para Firefox e edge*/
.flip-card2 .card-text {
	scrollbar-width: thin;
	scrollbar-color: var(--laranja) #f1f1f1;
}

/* Customização do scroll: Para Chrome e Safari*/
.flip-card2 .card-text::-webkit-scrollbar {width: 5px;}

.flip-card2 .card-text::-webkit-scrollbar-track {background: #f1f1f1;}

.flip-card2 .card-text::-webkit-scrollbar-thumb {background: var(--laranja);}

.flip-card2 .card-text::-webkit-scrollbar-thumb:hover {background: var(--laranja-over);}

  
/* Lista Simples
------------------------*/

.obj-lista .list-group {margin: 10px 0;}
  
.obj-lista .list-group-item {
	background:transparent;
	border:transparent;
	border-radius: 6px;
	margin-bottom:0.5rem;
	padding: 0.4rem 0;
}

/*Quando há lista dentro de lista:*/
.list-group-item ul li {
	list-style: circle;
	display: list-item;
	margin-left: 2.2rem;
}

/* Lista Ordenada
------------------------*/

.obj-lista ol.list-group {
	list-style:none;
	counter-reset: contador-ol;
}

.obj-lista ol.list-group .list-group-item {
	display: list-item;
	padding-left: 10px;
	counter-increment: contador-ul;
}

.obj-lista ol.list-group .list-group-item:before {
	background-color:var(--azul-claro);
	content: counter(contador-ul);
	margin-right:0.8rem;
	border-radius: 50%;
	color:#fff;
	width:2rem;
	height:2rem;
	padding-bottom:0.45rem;
	padding-top:0;
	text-align: center;
	display: inline-block;
  box-sizing: border-box;
  line-height: 38px;
}

/* ----------------------------------------------------------------

Modal

-----------------------------------------------------------------*/

.modal h5 {margin-top:0;}

/* -------------------------------- 

Podcast

-------------------------------- */

.green-audio-player {
  width: 100%;
  min-width: min-content;
  height: 80px;
  padding:0 10px;
  background:#fdd89e;
  border-radius: 12px;
}

.green-audio-player .play-pause-btn__icon,
.green-audio-player .volume__speaker,
.green-audio-player svg {
  /* fill:#fff; */
 fill: #773817;
}
.green-audio-player .slider .gap-progress .pin,
.green-audio-player .slider .gap-progress {background-color:#773817;}

.green-audio-player .controls {color:#773817;}

.green-audio-player .slider {background-color:var(--laranja-alpha);}

@media (min-width:768px) {
  .green-audio-player {
    padding:0 20px;
  }
}

/* -------------------------------- 

Slider

-------------------------------- */

.carousel {margin-bottom: 30px;}

.carousel-indicators {margin-bottom:0;}

.carousel-indicators .active {
  background-color: var(--azul-claro);
}

.carousel-indicators.somente-img .active {
  background-color: #fff;
}

.carousel-indicators li {background-color: var(--cinza-escuro);}

.carousel ul {
  list-style: none;
  padding-left: 0;
}

.carousel table img {
  top: 0;
  right: 0;
  margin-left: 0;
}

.carousel table td,
.carousel table th {
  padding: 6px;
}

/*A classe carousel-texto controla a altura mínima do box do slider*/
.carousel-texto {min-height: 600px;}

@media (min-width:768px) {
  .carousel-texto {min-height: 300px;}
}

.carousel-control-prev, 
.carousel-control-next {
  width:12%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  padding: 24px;
  border-radius: 24px;
}


/*Seta branca*/
.carousel-control-next-icon.white-arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23FFF' d='M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z'/%3E%3C/svg%3E")!important;
}

.carousel-control-prev-icon.white-arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23FFF' d='M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z'/%3E%3C/svg%3E")!important;
}

/*Seta escura*/
.carousel-control-next-icon.dark-arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%230a151f' d='M294.1 256L167 129c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.3 34 0L345 239c9.1 9.1 9.3 23.7.7 33.1L201.1 417c-4.7 4.7-10.9 7-17 7s-12.3-2.3-17-7c-9.4-9.4-9.4-24.6 0-33.9l127-127.1z'/%3E%3C/svg%3E")!important;
}

.carousel-control-prev-icon.dark-arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%230a151f' d='M217.9 256L345 129c9.4-9.4 9.4-24.6 0-33.9-9.4-9.4-24.6-9.3-34 0L167 239c-9.1 9.1-9.3 23.7-.7 33.1L310.9 417c4.7 4.7 10.9 7 17 7s12.3-2.3 17-7c9.4-9.4 9.4-24.6 0-33.9L217.9 256z'/%3E%3C/svg%3E")!important;
}

/*Carrossel imagem vertical e texto (ajustes na margem do texto no desktop*/

@media (min-width: 768px) {
  .slider-imagem-vertical  .box-quote {height:495px;}

  .slider-imagem-vertical .texto {
    padding-left: 6rem !important;
    height: 430px;
    overflow: hidden;
    overflow-y: scroll;
  }

  /*Para Firefox e edge*/
  .slider-imagem-vertical .texto {
    scrollbar-width: thin;
    scrollbar-color: #E0E0E0 #f1f1f1;
  }

  /*Para Chrome e Safari*/
  .slider-imagem-vertical .texto::-webkit-scrollbar {
    width: 5px;
  }

  .slider-imagem-vertical .texto::-webkit-scrollbar-thumb {;
    border-radius: 6px;
    border: none;
  }

  .slider-imagem-vertical .texto::-webkit-scrollbar-track {background: #f1f1f1;}

  .slider-imagem-vertical .texto::-webkit-scrollbar-thumb {background: #E0E0E0;}

  .slider-imagem-vertical .texto::-webkit-scrollbar-thumb:hover {background: var(--laranja-over);}
}

/* Carrossel com cards */

@media (max-width: 767px) {
  .carousel-cards .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-cards .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-cards .carousel-inner .carousel-item.active,
.carousel-cards .carousel-inner .carousel-item-next,
.carousel-cards .carousel-inner .carousel-item-prev {
  display: flex;
}

/* Exibe 2 no tablet (col-*-6) */
@media (min-width: 768px) {
  
  .carousel-cards .carousel-inner .carousel-item-right.active,
  .carousel-cards .carousel-inner .carousel-item-next {
  transform: translateX(50%);
  }
  
  .carousel-cards .carousel-inner .carousel-item-left.active, 
  .carousel-cards .carousel-inner .carousel-item-prev {
  transform: translateX(-50%);
  }
}

/* Exibe 3 no desktop (col-*-4) */
@media (min-width: 992px) {
  
  .carousel-cards .carousel-inner .carousel-item-right.active,
  .carousel-cards .carousel-inner .carousel-item-next {
  transform: translateX(33.333%);
  }
  
  .carousel-cards .carousel-inner .carousel-item-left.active, 
  .carousel-cards .carousel-inner .carousel-item-prev {
  transform: translateX(-33.333%);
  }
}

/* Exibe 4 no desktop (col-*-3) */
/* @media (min-width: 992px) {
  
  .carousel-cards .carousel-inner .carousel-item-right.active,
  .carousel-cards .carousel-inner .carousel-item-next {
  transform: translateX(25%);
  }
  
  .carousel-cards .carousel-inner .carousel-item-left.active, 
  .carousel-cards .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
  }
} */

.carousel-cards .carousel-inner .carousel-item-right,
.carousel-cards .carousel-inner .carousel-item-left { 
transform: translateX(0);
}


/* Ajusta os botões*/
.carousel-cards .carousel-control-next {right: -20px;}

.carousel-cards .carousel-control-prev {left: -20px;}

@media (min-width: 768px){
  .carousel-cards .carousel-control-next {right: -40px;}

  .carousel-cards .carousel-control-prev {left: -40px;}
}

@media (min-width: 992px){
  .carousel-cards .carousel-control-next {right: -60px;}

  .carousel-cards .carousel-control-prev {left: -60px;}
}

/* --------------------------------

Tabela

---------------------------------*/

.table {
  background-color: #fff;
}

.table-responsive.table-bordered {
  border: none;
}

.table-responsive table thead th {
  border: none;
}

.table-responsive th {
  background-color: var(--azul-escuro);
  color: #fff;
  border: 1px solid var(--azul-escuro);
}

.table-responsive th a {
  color: #fff;
}

.table-responsive td,
.table-responsive tr {
  border: 1px solid var(--azul-escuro););
}

.table ul li {
  margin-bottom: 10px;
}

/* .table td,
.table th {
  vertical-align: middle;
}

.table thead th {
  vertical-align: middle;
} */

@media (max-width: 767px) {

  .table {
    font-size: 16px;
  }

  .table thead th {
    padding: 0;
  }

}

/* --------------------------------

Tabela em mobile (colunas viram linhas, em blocos de informação)

---------------------------------*/

@media only screen and (max-width: 800px) {
    	
  /* Força a tabela a não se comportar como uma tabela*/
  .no-more-tables table, 
  .no-more-tables thead, 
  .no-more-tables tbody, 
  .no-more-tables th, 
  .no-more-tables td, 
  .no-more-tables tr { 
    display: block; 
  }

  /* Zebra striping */
tr:nth-of-type(odd) { 
  background: var(--cinza-medio); 
}
 
  /* Esconde o header da tabela (mas não usa display:none; por causa da acessibilidade) */
  .no-more-tables thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
 
  .no-more-tables tr { border: 1px solid var(--azul-escuro);  }
 
  .no-more-tables td { 
    /* Faz a td se comportar como uma "row" */
    border: none;
    border-bottom: 1px solid var(--cinza-medio); 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
  }

  .no-more-tables tr:nth-of-type(odd) td {border-bottom: 1px solid #fff; }
 
  .no-more-tables td:before { 
    /* Faz a td:before se comportar como um header da tabela*/
    position: absolute;
    /* Top/left values mimic padding */
    /* top: 6px; */
    left: 5px;
    width: 30%; 
    padding-right: 10px; 
    white-space: nowrap;
    text-align:center;
    font-weight: 700;
  }
 
  /*Pega o atributo passado via data-nome-do-atributo*/
  .no-more-tables td:before { 
    content: attr(data-title); 
  }
}
            


